@import "scss/abstracts/mixins";

.social {
  width: 100%;
  margin-top: 0.8rem;
  @include flex(column, center, center);

  &__text {
    @include desktop {
      margin: 0px;
    }
  }
  
  &__image {
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
  }
  
  &__signup{
    cursor: pointer;
    transition: text-decoration .3s ease-in-out;
    
    &:hover{
      text-decoration: underline;
    }
  }
}
