@import "scss/abstracts/mixins";

.form {
  width: 100%;

  &__remember {
    @include flex(row, space-between, center);
    font-size: .9375rem;
    margin-bottom: .625rem
  }

  &__checkbox {
    @include flex(row, center, center);
    cursor: pointer;
    gap: .3125rem;
  }
}
