@import "scss/abstracts/mixins";

.form {
  width: 100%;

  &__button {
    @include flex(row, flex-end, center);
    width: 50%;
    margin: 5vh 0 2vh 50%;
  }
  
  &__redirect{
    cursor: pointer;
    transition: text-decoration .3s ease-in-out;
    &:hover{
      text-decoration: underline;
    }
  }
}
