@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";

.label{
  @include flex(column, center, flex-start);
  margin: .3rem 0 .8rem 0;

  &__container {
    width: calc(100% - 1rem);
    @include flex(row, center, center);
    background-color: color(accent);
    padding: .625rem .5rem;
    border-radius: .3125rem;
    margin-bottom: 8px;
    gap: .3125rem;

    &--error{
      border: 1px solid color(error);
    }
  }

  &__input {
    width: calc(100% - 1.375rem);
    outline: none;
    border: none;
    font-size: .945rem;
    background-color: transparent;
    color: color(primary-text);

    &::placeholder {
      color: color(gray-light);
    }
  }

  &__icon {
    width: 1.375rem;
    color: color(primary-text);
  }
  
  &__error {
    color: color(error);
    line-height: 1rem;
    font-size: .75rem;
  }
}
