@import "scss/abstracts/mixins";
@import "scss/abstracts/variables";
.main {
  width: 100%;
  max-width: 87.5rem;

  &__section {
    width: 90%;
    margin: 0 auto;
    @include flex(column, center, center);
    gap: 1rem;

    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 35%;
      padding: 0 50px;
      border-radius: 18px;
      border: 1px solid color(primary-light);
    }
  }
}
