@import "scss/abstracts/mixins";

.products {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  gap: 1rem;

  @include tablet {
    gap: 2.1rem;
  }
}
