@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";
.message {

  .alert{
    position: absolute;
    top: -50;
    right: 0;
    width: 35%;
    z-index: 9;    
  }
  &__title {
    color: color(primary);
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: color(primary-text);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button{
    width: 100%;
    @include desktop {
      width: 30%;
      margin: 0 auto;
    }
  }
}
