@import "scss/abstracts/mixins";
@import "scss/abstracts/variables";

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  @include flex(row, center, center);
  z-index: 9;
  background: color(overlay);
}

.containerModal {
  width: 80%;
  height: auto;
  background: color(bg);
  position: relative;
  border-radius: 0.9375rem;
  box-shadow: $bshadow;
  padding: 1.25rem;
  @include flex(column, center, center);

  @include tablet {
    width: 45%;
  }

  &__close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    @include flex(row, center, center);
    
    &:hover {
      scale: 1.15;
    }
    
  }
  &__icon{
    transition: scale 0.3s ease-in-out;
    width: 1.25rem;
    height: 1.25rem;
    
    &:hover {
      scale: 1.15;
    }
  }
}
